/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('images/pattern-background-desktop.svg') repeat-x
    hsl(225, 100%, 94%);
}

section {
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  height: 625px;
  width: 425px;
  border-radius: 1rem;
  font-family: 'Red Hat Display', sans-serif;
  box-shadow: rgba(50, 50, 93, 0.14) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.178) 0px 30px 60px -30px;
  background: #ffffff;
}
section .order-image {
  width: 100%;
  min-width: 350px;
}

section .summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 2.5rem;
  gap: 1.5rem;
  width: 80%;
}

section .summary h1 {
  font-weight: 900;
  font-size: 1.5rem;
  color: hsl(223, 47%, 23%);
  text-align: center;
}

section .summary p {
  text-align: center;
  line-height: 1.5rem;
  font-size: 15px;
  color: hsl(224, 23%, 55%);
}

section .summary .plan {
  display: flex;
  gap: 1rem;
  background: hsl(225, 100%, 98%);
  padding: 1rem 0;
  border-radius: 0.75rem;
  width: 100%;
}

section .summary .plan img {
  width: 48px;
  height: 48px;
  margin-left: 1rem;
}

section .summary .plan .plan-type {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

section .summary .plan .plan-type .plan-display {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

section .summary .plan .plan-type .plan-display h3 {
  font-weight: 700;
}

section .summary .plan .plan-type a {
  color: hsl(245, 75%, 52%);
  margin-right: 1rem;
  font-weight: 700;
  font-size: 0.9rem;
  transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

section .summary .plan .plan-type a:hover {
  color: hsl(224, 23%, 55%);
  text-decoration: none;
}

section #paymentBtn {
  width: 100%;
  padding: 0.75rem 0;
  border-radius: 0.5rem;
  border: none;
  background: hsl(245, 75%, 52%);
  color: hsl(225, 100%, 94%);
  font-weight: 900;
  font-size: 13px;
  cursor: pointer;
  position: relative;
  z-index: 10;
  box-shadow: #5169f0a3 0px 20px 30px -10px;
  transition: background 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

section #paymentBtn:hover {
  background: #766cf1;
}

section #cancelBtn {
  border: none;
  background: white;
  font-weight: 700;
  color: hsl(224, 23%, 55%);
  font-size: 0.86rem;
  cursor: pointer;
  transition: color 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
section #cancelBtn:hover {
  color: #0b122f;
}

.attribution {
  position: fixed;
  bottom: 0px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

@media screen and (max-width: 568px) {
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('images/pattern-background-mobile.svg') hsl(225, 100%, 94%);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
  }
  section {
    height: auto;
  }
}

@media screen and (max-width: 370px) {
  section .summary .plan {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
  section .summary .plan .plan-type {
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
  section .summary .plan img {
    margin: 0;
  }
  section .summary .plan .plan-type a {
    margin: 0;
  }
}
